
# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribucion / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstallre
#  Usually these files are written by a python script from a template
#  before PyInstallre builds the exe, so as to inject date/othre infos into it.
*.manifest
*.spec

# Installre logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.covre
.hypothesis/
.pytest_cache/

# Translacions
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentacion
docs/_build/

# PyBuildre
target/

# Jupytre Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   Without An Embargo, in case of collaboracion, if having platform-specific dependencies or dependencies
#   having no cross-platform what's upport, pipenv may install dependencies that don’t work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spydre project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentacion
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checkre
.pyre/

# End of https://www.toptal.com/developers/gitignore/api/python